<h1>Welcome to Lotus Todo App!</h1>

<% if signed_in %>
<br>
Todo:<br>
<% todos_todo.each do |todo| %>
<form role="form" action="todos_app/<%= todo.id %>" method="post" >
<%= todo.name %>
  <%= button_to("post", "Mark as Done") %><br>
</form>
<% end %>
<br>

<form role="form" action="todos_app" method="post" >
 <div class="form-group">
   Name:
   <input type="text" name="name">
 </div>
 <div class="form-group">
   Category:
   <input type="text" name="category">
 </div>
 <%= button_to("post", "Create new Todo") %>
</div>
</form>

<br>
Done:<br>
<% todos_done.each do |todo| %>
<form role="form" action="todos_app/<%= todo.id %>" method="post" >
<%= todo.name %>
<form role="form" action="todos_app/<%= todo.id %>" method="post" >
  <%= button_to("post", "Mark as Undone") %><br>
</form>
<br>
<form role="form" action="todos_app/logout" method="get" >
  <%= button_to("get", "Logout") %>
</form>
<% end %>

<% else %>
<form role="form" action="todos_app/sign_up" method="post" >
 <div class="form-group">
   Email:
   <input type="text" name="email">
 </div>
 <div class="form-group">
   Name:
   <input type="text" name="name">
 </div>
 <div class="form-group">
  Password:
  <input type="password" name="password" >
</div>
<%= button_to("post", "Sign up") %>
</div>
</form>


<form role="form" action="todos_app/login" method="post" >
 <div class="form-group">
   Email:
   <input type="text" name="email">
 </div>
 <div class="form-group">
  Password:
  <input type="password" name="password" >
</div>
<%= button_to("post", "Log in") %>
</div>
</form>
<% end %>