<h1 style="text-align: center;">Welcome to Lotus Post App!</h1>

<% if signed_in %>
<script>
  var data = getData("<%=logged_user.remember_token%>")
  showData(data);
</script>
<%= render partial: "logged" %>
<br><br><br>

<% posts.each_with_index do |post, index| %>
<%= "#{index +1}) #{post.title}" %><br>
<%= post.content %><br>
<% end %>
<br>

<form role="form" action="posts_app" method="post" >
 <div class="form-group">
   Title:
   <input type="text" name="title">
 </div>
 <div class="form-group">
  Content:
  <textarea name="content"></textarea>
</div>
<%= button_to("post", "Create new Post") %>
</div>
</form>

<% else %>

<%= render partial: "session" %>
<% end %>