
<h1 style="text-align: center;">Welcome to Lotus Post App!</h1>

<% if signed_in %>
<script>
  var data = getData("<%=logged_user.remember_token%>")
  showData(data);
</script>
<%= "Logged in as: #{logged_user.name.capitalize}" %>
<form role="form" action="posts_app/logout" method="get" id="logout" >
  <%= button_to("get", "Logout") %>
</form>
<br><br>
Your Token:
<button type="submit" id="toggleToken" class="btn btn-warning">Show Token</button>
<div id="token">
  <%= logged_user.remember_token %>
  <form role="form" action="posts_app/change_token" method="post" >
    <%= button_to("post", "Change Token") %>
  </form>
</div>
<br><br><br><br>
<% posts.each_with_index do |post, index| %>
<%= "#{index +1}) #{post.title}" %><br>
<%= post.content %><br>
<% end %>

<form role="form" action="posts_app" method="post" >
 <div class="form-group">
   Title:
   <input type="text" name="title">
 </div>
 <div class="form-group">
  Content:
  <textarea name="content"></textarea>
</div>
<%= button_to("post", "Create new Post") %>
</div>
</form>

<% else %>
<form role="form" action="posts_app/sign_up" method="post" >
 <div class="form-group">
   Email:
   <input type="text" name="email">
 </div>
 <div class="form-group">
   Name:
   <input type="text" name="name">
 </div>
 <div class="form-group">
  Password:
  <input type="password" name="password" >
</div>
<%= button_to("post", "Sign up") %>
</form>

<form role="form" action="posts_app/login" method="post" >
 <div class="form-group">
   Email:
   <input type="text" name="email">
 </div>
 <div class="form-group">
  Password:
  <input type="password" name="password" >
</div>
<%= button_to("post", "Log in") %>
</form>
<% end %>